<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>demo</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>年齢</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item:${list}" th:object="${item}">
          <td th:text="*{id}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{age}"></td>
        </tr>
      </tbody>
    </table>
    <p>
      <label>
        ID:
        <input type="number" id="id" />
      </label>
    </p>
    <p>
      <button id="save">Save</button>
      <button id="update">Update</button>
      <button id="put">Put</button>
      <button id="save-or-update">Save or Update</button>
    </p>
    <script>
      document.querySelector("#save").addEventListener("click", function() {
        location.href = "/save";
      });
      document.querySelector("#update").addEventListener("click", function() {
        location.href = "/update?id=" + document.querySelector("#id").value;
      });
      document.querySelector("#put").addEventListener("click", function() {
        location.href = "/put?id=" + document.querySelector("#id").value;
      });
      document
        .querySelector("#save-or-update")
        .addEventListener("click", function() {
          location.href =
            "/save-or-update?id=" + document.querySelector("#id").value;
        });
    </script>
  </body>
</html>
